* {
    box-sizing: border-box;
}
body {
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}
  /*****************************chargement*************************/

  .chargement{
    display: flex;
    position: relative;
    z-index: 50;
    min-height: 100vh;
    width: 100%;
    background-color: #9E2121;
}
.chargement div:nth-child(1){
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    top:50%;
    height: 70px;
    width: 70px;
    background-color: whitesmoke;
    border-radius: 50%;
    animation: point1 infinite linear 1.5s;
}
.chargement div:nth-child(2){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:50%;
    height: 70px;
    width:70px;
    background-color: whitesmoke;
    border-radius: 50%;
    animation: point1 infinite linear 2s;
}
.chargement div:nth-child(3){
    position: absolute;
    transform: translateX(-50%);
    left: 60%;
    top:50%;
    height: 70px;
    width: 70px;
    background-color: whitesmoke;
    border-radius: 50%;
    animation: point1 infinite linear 2.5s;
}

@media(max-width:800px){
    .chargement div:nth-child(1){
       height: 30px;
        width: 30px;
    }
    .chargement div:nth-child(2){
        height: 30px;
         width: 30px;
     }
     .chargement div:nth-child(3){
        height: 30px;
         width: 30px;
     }
}

@keyframes point1{
    0%{
        top:50%;
        opacity: 0.5;
    }
    25%{
        top:45%;
        opacity: 1;
    }
    50%{
        top:50%;
        opacity: 0.5;
    }
    75%{
        top:55%;
        opacity: 0.3;
    }
    100%{
        top:50%;
        opacity: 0.5;
    }
}
/*****************************lazyLoad*************************/

article{
    opacity: 0;
    transform: translateY(30%);
    transition: ease 1s;  
}

.animIntersectSection{
    opacity: 1;
    transition: ease 1s;
    transform: translateY(0);
    
}
@media(max-width:700px){
    article{
       
        transition: ease 500ms;  
    }
    
    .animIntersectSection{
        
        transition: ease 500ms;
      
    }
}
/***********************menu*******************************************/

#menu,#croix,#home,#portfolio,#skills,#contact{
    position: fixed;
    z-index: 30;
    font-size: 30px;
    color: #c70d0d;
    top: 20px;
    right: 20px;
    animation: menuArrive linear 0.7s;
}
#home,#portfolio,#skills,#contact{
    display: none;
}
@keyframes menuArrive{
    0%{
        transform: translateX(-50px);
        filter: blur(30px);
    }
    100%{
        transform: translateX(0);
        filter: blur(0px);
    }
}
#croix{
    display: none;
    animation: tourneCroix linear 0.3s;   
}
@keyframes tourneCroix{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
#home{
    top: 80px;
    right:15px;
}
.accueil,.menuPortfolio,.menuSkills,.menuContact{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 65px;
    right:15px;
    animation: legende linear 0.5s;
    background:whitesmoke;
    color:#9E2121;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    z-index: 30;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.5px;
}
.menuPortfolio{
    top: 125px;
}
.menuSkills{
    top: 180px;
}
.menuContact{
    top: 235px;
}

@keyframes legende{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
#portfolio{
    top: 140px;
    right:15px;
}
#skills{
    top: 195px;
    right:15px;
}
#contact{
    top: 250px;
    right:15px;
}

#menu:hover,#croix:hover,#home:hover,#portfolio:hover,#skills:hover,#contact:hover{
cursor: pointer;
}
/***************************************************3d***************************************************************/

#blender {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(17, 17, 17);
}

#sun{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*#robot {

    width: 100%;
    height: 100vh; 
}*/

.titreSkills{
    position: absolute;
    color: whitesmoke;
    font-size: 5vw;
    letter-spacing: 45px;
    font-family: 'Bangers', cursive;
    bottom: 70px;
    z-index: 1;
    filter: drop-shadow(black 1px 1px 5px);
    text-align: center;
}
@media(max-width:700px){
    .titreSkills{
        letter-spacing:15px;
        font-size: 30px;
    }
}
/*****************************competences*************/
#competences {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    width: 100%;
    margin-bottom: 150px;

}
.grid {
    min-height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 2px;
    margin-top: 2px;
}

.html5,
.css,
.js,.php,.three,.blender29,.adobeIll,.adobePs,.sql {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    border-radius: 5px;
   
}

.html5 {
    background-color: #EC5F27;
}
.css {
    background-color: #1695D0;
}
.js {
    background-color: #F7E018;
}
.php {
    background-color: #619ED5;
}
.three {
    background-color: white;
}
.blender29 {
    background-color: black;
}
.adobeIll {
    background-color: #330000;
}
.adobePs {
    background-color: #001E36;
}
.sql {
    background-color: white;
}
.html5 h1,
.css h1,
.js h1,.php h1,.three h1,.blender29 h1,.adobeIll h1,.adobePs h1,.sql h1 {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
}
.html5 h1 {
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    
}
.css h1 {
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
 
    text-transform: uppercase;
}
.js h1 {
    color: black;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
  
    text-transform: uppercase;
}
.php h1 {
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
 
    text-transform: uppercase;
}
.three h1 {
    color: #14100C;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    filter: drop-shadow(white 0.5px 0.5px 0.5px);
    text-transform: uppercase;
}
.blender29 h1 {
    color:#285B8E;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    filter: drop-shadow(black 0.5px 0.5px 0.5px);
    text-transform: uppercase;
}
.adobeIll h1 {
    color:#FF9B00;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    filter: drop-shadow(black 0.5px 0.5px 0.5px);
    text-transform: uppercase;
}
.adobePs h1 {
    color:#30A8FF;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    filter: drop-shadow(black 0.5px 0.5px 0.5px);
    text-transform: uppercase;
}
.sql h1 {
    color:#F79411;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    filter: drop-shadow(black 0.5px 0.5px 0.5px);
    text-transform: uppercase;
}
.html5 p,
.css p,
.js p,.php p,.three p,.blender29 p,.adobeIll p,.adobePs p,.sql p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50vh;
    line-height: 2vw;
    font-size: 1.5vw;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    color: whitesmoke;
}
.js p{
    color: black;
}
.three p{
    color: black;
}
.sql p{
    color: #007A95;
}
.blender29 p{
    font-size: 1.2vw;
}
.adobeIll p{
    font-size: 1vw;
}
/*********hover competences*****************/

.hoverHtml{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/html5.jpeg");
    background-position: center;
    background-size: cover;
}

.hoverCss{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/css.webp");
    background-position: center;
    background-size: cover;
}

.hoverJs{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/js.png");
    background-position: center;
    background-size: cover;
}

.hoverPhp{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/php.jpg");
    background-position: center;
    background-size: cover;
}

.threeJs{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/three.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
}

.blenderHover{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/blender_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:black;
}

.hoverAdobeIll{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/ai.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:#330000;
}

.hoverAdobePs{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/ps.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:#001E36;
}

.mySql{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out 1s;
    background-image: url("./images/mysql.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
}

@media(min-width:700px){
    .sql:hover .mySql{
        top:0;
        width: 25%;
        height: 25%;
        cursor: pointer;   
    }
    .adobePs:hover .hoverAdobePs{
        top:0;
        width: 25%;
        height: 25%;
        cursor: pointer;   
    }
    .adobeIll:hover .hoverAdobeIll{
        top:0;
        width: 25%;
        height: 25%;
        cursor: pointer;   
    }
    .blender29:hover .blenderHover{
        top:0;
        width: 25%;
        height: 25%;
        cursor: pointer;   
    }
    .three:hover .threeJs{
        top:0;
        width: 25%;
        height: 25%;
        cursor: pointer;   
    }
    .php:hover .hoverPhp{
        top:0;
        width: 25%;
        height: 25%;
        cursor: pointer;   
    }
    .js:hover .hoverJs{
        top:0;
        width: 20%;
        height: 20%;
        cursor: pointer;   
    }
    .css:hover .hoverCss{
        top:0;
        width: 25%;
        height: 25%;
        cursor: pointer;   
    }
    .html5:hover .hoverHtml{
        top:0;
        width: 25%;
        height: 25%;
        cursor: pointer;   
    }
}

@media(max-width:800px) {

   .grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .html5,
    .css,
    .js,.php,.three,.blender29,.adobeIll,.adobePs,.sql {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
        border-radius: 5px;
        width: 500px;
        max-width: 100%;
    }
    .html5 p,
    .css p,
    .js p,.php p,.three p,.blender29 p,.adobeIll p,.adobePs p,.sql p{
        font-size: 15px;
        line-height: 15px;
    }
}
#apprentissage{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   justify-content: space-evenly;
    min-height: 110vh;
    width: 100%;
}
#apprentissage p:nth-child(1){
    color: #9E2121;
    position: absolute;
    top:0;
   font-size: 3.5vw;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive; 
    margin: auto; 
   
}
#apprentissage p:nth-child(2){
    color:black;
    position: absolute;
    top:0;
    font-size: 3.5vw;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
}

#apprentissage article{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

}
#apprentissage article:nth-child(3){
    background-image: url(./images/Angular.png);
    background-size:cover;  
      
}
#apprentissage article:nth-child(4){
    background-image: url(./images/node.png);
    background-size:cover; 
        
}
#apprentissage article:nth-child(5){
    background-image: url(./images/mongodb-logo.jpg);
    background-size:cover;    
    
}
#apprentissage article:nth-child(6){
    background-image: url(./images/express.png);
    background-size:cover;  
    
}
@media (max-width:700px) {

    #apprentissage p:nth-child(1){
      font-size: 25px;  
    }
    #apprentissage p:nth-child(2){
        font-size: 25px;  
        text-align: center;
    }
}

/**********************************************svgFusée***************************************************/

#fusee{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 100%;
min-height: 100vh;
background-image: url(./images/fondCompetences.jpg);
background-size: cover;
}
#fusee article:nth-child(1){
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}
#fusee article:nth-child(1) h1{
    color: #9E2121;
    font-size: 3vw;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive; 
    text-align: center;
}
#fusee article:nth-child(1) p{
    font-size: 1.5vw;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive; 
    text-align: center;
    width: 60%;
}
#fusee article:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60vh;
}
#fusee article:nth-child(2) div{
    width: 50%;
    min-width: 300px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media(max-width:400px){
    #fusee article:nth-child(2) div:nth-child(2){
     background-color: #14100C;
    }
}

@media(max-width:600px){

    #fusee article:nth-child(2) div{
        width: 100%;
    }
    #fusee article:nth-child(1) h1{
       
        font-size:35px;
       
    }
    #fusee article:nth-child(1) p{
    font-size: 15px;
    }
}
@media(max-width:800px){
   
    #fusee article:nth-child(1) h1{
       
        font-size:35px;  
    }
    #fusee article:nth-child(1) p{
    font-size: 15px;

    }
}

/*********************************svg****************************/
.voix{
animation: voix  infinite 2.5s;
}

@keyframes voix{
    0%{
        opacity: 0;
transform: translateX(
0px);
    }50%{
        transform: translateX(50px);
        opacity: 1;
    }100%{
        transform: translateX(0px);
        opacity: 0;
    }
}
/********************************************bouton contact************************/
.contactMe{
    text-decoration: none;
    background-color: #14100C;
    color: white;
    font-size: 2vw;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive; 
    text-align: center;
    position: relative;
    padding: 15px;
    transition: ease-in-out 0.5s;
}

.contactMe span{
    position: absolute;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.contactMe span:nth-child(1){
    top: 0;
    left:0;
    height: 100%;
    width: 3px;
    transform: scaleY(0);
    transform-origin: bottom;  
    animation: hoverY  infinite 5s; 
}

@keyframes hoverY{
    0%{
        transform: scaleY(0);

    }50%{
        transform: scaleY(1);

    } 100%{
        transform: scaleY(0);

    }
}



.contactMe span:nth-child(2){
    top: 0;
    left:0;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;   
    animation: hoverX  infinite 5s; 
}

@keyframes hoverX{
    0%{
        transform: scaleX(0);

    }50%{
        transform: scaleX(1);

    }100%{
        transform: scaleX(0);

    }
}

.contactMe span:nth-child(3){
    top: 0;
    right:0;
    height: 100%;
    width: 3px;
    transform: scaleY(0);
    transform-origin: top;  
    animation: hoverY  infinite 5s;  
}
.contactMe:hover span:nth-child(3){
transform: scaleY(1);
transition: 1s;
}
.contactMe span:nth-child(4){
    bottom: 0;
    right:0;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right; 
    animation: hoverX  infinite 5s;   
}

.contactMe:hover{
   
    color: #ED213A; 
}

@media(max-width:600px){
    .contactMe{
        font-size:30px;  
    }
}